In [1]:
#ans 1
import pandas as pd
data= (4,8,15,16,23,42)
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
type(ser)

pandas.core.series.Series

In [9]:
#ans 3

data2 = {"Name":['Alice' , 'Bob' , 'Claire'],
      "Age" : [ 25 , 30 , 27] ,
      "Gender" : ['Female' , 'Male' , 'Feale']}
df = pd.DataFrame(data2)
print(df)
#print(df.loc[]

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27   Feale

In [4]:
# ans 2
data1 = [2,4,5,6, 35475,6486,24664,6473,6468,268,"abhi" , True]
ser =pd.Series(data1)
print(ser)

0         2
1         4
2         5
3         6
4     35475
5      6486
6     24664
7      6473
8      6468
9       268
10     abhi
11     True
dtype: object

# ans 4
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 
 it is likely as  spreadsheet or SQL table, or a dict of Series objects. 


1- pandas series is One-dimensional while dataframe is	two-dimensional
2- pandas series have Homogenous – Series elements must be of the same data type ehile dataframe have 	Heterogenous – DataFrame elements can have
different data types.
pandas series is immutable while dataframe is mutable.

 ans 5
head and Tail Shape, Size and Info.are the two most basic functions after reading data is to know the number 
#of rows and columns, and to know the datatype of variables describe , value counts columns 


df = pd.read_csv("services.csv")

In [18]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

#ans  6
dataframe and panel are mutable in nature

In [28]:
#ans 7
import pandas as pd

data3= {'Name': ['Abhi', 'Rashmi', 'Julia', 'Jahagir' , 'Rahul' , 'Saurabh' , 'Jay'],

        'Age': [25, 30, 35, 40 , 34 , 35 , 22  ],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer' , 'SDE' , 'BackenD_Eng' , 'Civil_Eng']}

df = pd.DataFrame(data3)
print(df)

      Name  Age   Occupation
0     Abhi   25     Engineer
1   Rashmi   30       Doctor
2    Julia   35      Teacher
3  Jahagir   40       Lawyer
4    Rahul   34          SDE
5  Saurabh   35  BackenD_Eng
6      Jay   22    Civil_Eng